{% extends "base.html" %}
{% load static %}

{% block topo %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">SEJA UM COLABORADOR</h1>
    <p>"Agora, pois, permanecem a fé, a esperança e a caridade, estas três; mas a maior destas é a <b>CARIDADE</b>"</p>
    <p>Este serviço visa ajudar aos que precisam de ajuda e aos que querem ajudar. Participe neste grande movimento de Caridade, pondo em prática o amor ao próximo.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Saiba mais &raquo;</a></p>
  </div>
</div>
{% endblock topo %}


{% block conteudo %}

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      Informações para os colaboradores.
    </div>
</div>

{% endblock conteudo %}
