{% extends "base.html" %}
{% load static %}

{% block topo %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">SEJA UM COLABORADOR</h1>
    <p>"Agora, pois, permanecem a fé, a esperança e a caridade, estas três; mas a maior destas é a <b>CARIDADE</b>"</p>
    <p>A CARIDADE faz-se baseada no voluntarismo. Todo tipo de ajuda para manter o serviço funcional é bem-vinda. Caso esteja disponível para colaborar nos aspetos técnicos ou sociais, este é o lugar certo. Submeta os seus dados e o tipo de ajuda que acredita poder prestar à esta iniciativa.</p>
  </div>
</div>
{% endblock topo %}

{% block conteudo %}

<div class="container">
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputNome">Seu Nome</label>
        <input type="text" class="form-control" id="inputNome" placeholder="Nome completo">
      </div>
      <div class="form-group col-md-6">
        <label for="inputTelefone">Seu Telefone</label>
        <input type="text" class="form-control" id="inputTelefone" placeholder="Nº de Telefone">
      </div>
    </div>
    <div class="form-group">
      <label for="inputDescricao">Como pode ajudar?</label>
      <textarea class="form-control" id="inputDescricao" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>

{% endblock conteudo %}
