{% extends "base.html" %}
{% load static %}

{% block topo %}
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">BLOG</h1>
    <p>"Agora, pois, permanecem a fé, a esperança e a caridade, estas três; mas a maior destas é a <b>CARIDADE</b>"</p>
    <p>Este serviço visa ajudar aos que precisam de ajuda e aos que querem ajudar. Participe neste grande movimento de Caridade, pondo em prática o amor ao próximo.</p>
  </div>
</div>
{% endblock topo %}

{% block conteudo %}

<div class="container">
  <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-3 left">
          {% for a in artigo_list %}
          <div class="card mb-4">
              <div class="card-body">
                  <h2 class="card-title">{{ a.titulo }}</h2>
                  <p class="card-text text-muted h6">{{ a.autor }} | {{ a.criado_em}} </p>
                  <p class="card-text">{{a.conteudo|slice:":200" }}</p>
                  <a href="{% url 'blog:blog_detail' a.slug  %}" class="btn btn-primary">Leia mais &rarr;</a>
              </div>
          </div>
          {% endfor %}
      </div>
      {% block sidebar %} {% include 'blog/barra_lateral.html' %} {% endblock sidebar %}
  </div>
</div>

{% endblock conteudo %}
